* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */ 

#navbar {
    background: #000;
    height: 66px;
    font-size: 1.2rem;
    color: #fff;
}

#navbar .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#navbar ul {
    display: flex;
    
}

#navbar .social {
    margin-right: 50px;
}

#navbar ul li a {
    margin: 0 10px;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #0051f2;
}


#navbar ul li a.current {
    background-color: #0051f2;
    color: #fff;  
}

#navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.2)
}

/* Showcase */ 

#showcase {
    padding: 2rem;
    background: #fff;
    color: #333;
    position: relative;
}

#showcase::before {
    content: '';
    background: url('../img/showcase-img.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}

#showcase .showcase-container {
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#showcase .showcase-container h1 {
    font-size: 70px;
}

#showcase .showcase-container p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

